*{
	box-sizing: border-box;
}

html{
	font-size: 16px;
}

body{
	margin:0;
	font-family: $font-text;
	line-height: 1.6;
	background-image: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
}

h1, h2, h3, h4, h5, h6{
	font-family: $font-title;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
}

label,  input, textarea{
	display: block;
}

main{
	padding-bottom: 4em;
}