*{
	box-sizing: border-box;
}

html{
	font-size: 16px;
}

body{
	margin:0;
	font-family: $font-text;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6{
	font-family: $font-title;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
}

label,  input, textarea{
	display: block;
}

main{
	padding-bottom: 4em;
}